<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wikipedia</title>
		<link rel="stylesheet" type="text/css" href="wikipedia.css"></link>
  </head>
  <body>
    <div id="app">
			<div id = "iframe">
				<iframe id = "wikipedia" class = "responsive-iframe"
								src = "https://www.wikipedia.com"> allowfullscreen sandbox</iframe>

			</div>

    </div>
    
    <script src="wikipedia.js"></script>
  </body>
</html>
